@{
    ViewData["Title"] = "Admin";
    Layout = "_Layout";
}

<h2>Admin</h2>

<div class="container">
    <h3>Migration</h3>
    <form asp-action="Migrate" method="post">
        <button type="submit" class="btn btn-primary">Migrate</button>
    </form>
</div>