@using Stushbr.AdminUtilsWeb.Domain.Items.Contracts
@using Stushbr.AdminUtilsWeb.Domain.Items.Commands
@model IReadOnlyList<Stushbr.AdminUtilsWeb.Domain.Items.Contracts.ItemViewModel>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("Partial/_ItemCardPartial", item)
        }
    </div>
    <!-- Add Item Button -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addItemModal">Add Item</button>

    <!-- Add Item Modal -->
    @await Html.PartialAsync("Partial/_AddItemModalPartial", new CreateItemCommand())
</div>