@model IReadOnlyList<Stushbr.AdminUtilsWeb.Domain.Items.Contracts.ItemViewModel>

@{
    ViewData["Title"] = "Items";
}

<h1>@ViewData["Title"]</h1>

@await Html.PartialAsync("Partial/_ItemsListPartial", Model)